require "math"
require "Core"

{{machineName}}GameBaseGameBackgroundStickyWildsMechanic = {
}

function {{machineName}}GameBaseGameBackgroundStickyWildsMechanic:new(o)
	o = o or {}
	setmetatable(o, self)
	self.__index = self
	return o
end

function {{machineName}}GameBaseGameBackgroundStickyWildsMechanic:Initialize(background)    
end



