require "math"
require "Core"

{{machineName}}BaseGameMachineStickyWildsMechanic = {
}

function {{machineName}}BaseGameMachineStickyWildsMechanic:new(o)
	o = o or {}
	setmetatable(o, self)
	self.__index = self
	return o
end

function {{machineName}}BaseGameMachineStickyWildsMechanic:Initialize(machine)
    System.Print("{{machineName}}BaseGameMachineStickyWildsMechanic:Initialize")
end

function {{machineName}}BaseGameMachineStickyWildsMechanic:BaseGamePayout(machine)
    series
        do
            System.Print("{{machineName}}BaseGameMachineStickyWildsMechanic:BaseGamePayout")
        end
    end
end

function {{machineName}}BaseGameMachineStickyWildsMechanic:OnSpinButtonClicked(machine)
    series
        do
            System.Print("{{machineName}}BaseGameMachineStickyWildsMechanic:OnSpinButtonClicked")
        end
    end
end

