require "math"
require "Core"

{{machineName}}BaseGameReelExpandingPaylinesMechanic = {
}

function {{machineName}}BaseGameReelExpandingPaylinesMechanic:new(o)
	o = o or {}
	setmetatable(o, self)
	self.__index = self
	return o
end

function {{machineName}}BaseGameReelExpandingPaylinesMechanic:Initialize(reel)
end

