require "math"
require "Core"

{{machineName}}GameBaseGameBackgroundLinkedReelsMechanic = {
    Config = {
        Machine = "{{machineName}}",
        Variant = "{{machineVariant}}",
        Experiment = "{{experimentVariant}}",
    },
}

function {{machineName}}GameBaseGameBackgroundLinkedReelsMechanic:new(o)
	o = o or {}
	setmetatable(o, self)
	self.__index = self
	return o
end

function {{machineName}}GameBaseGameBackgroundLinkedReelsMechanic:Initialize(background)    
end



