require "math"
require "Core"

{{machineName}}GameBaseGameBackgroundSymbolLockRespinsMechanic = {
}

function {{machineName}}GameBaseGameBackgroundSymbolLockRespinsMechanic:new(o)
	o = o or {}
	setmetatable(o, self)
	self.__index = self
	return o
end

function {{machineName}}GameBaseGameBackgroundSymbolLockRespinsMechanic:Initialize(background)    
end



