require "math"
require "Core"

{{machineName}}BaseGameReelWanderingWildsMechanic = {
}

function {{machineName}}BaseGameReelWanderingWildsMechanic:new(o)
	o = o or {}
	setmetatable(o, self)
	self.__index = self
	return o
end

function {{machineName}}BaseGameReelWanderingWildsMechanic:Initialize(reel)
end

