require "math"
require "Core"
require "Utils"
require "{{machineName}}Models"
require "{{machineName}}BaseGameReel"

{{machineName}}BaseGameReel4 = {{machineName}}BaseGameReel:new{
    
}

return {{machineName}}BaseGameReel4:new()