require "math"
require "Core"

{{machineName}}BaseGameReelHorizontalReelsMechanic = {
}

function {{machineName}}BaseGameReelHorizontalReelsMechanic:new(o)
	o = o or {}
	setmetatable(o, self)
	self.__index = self
	return o
end

function {{machineName}}BaseGameReelHorizontalReelsMechanic:Initialize(reel)
end

