require "math"
require "Core"

{{machineName}}BaseGameMachineWinBothWaysMechanic = {
}

function {{machineName}}BaseGameMachineWinBothWaysMechanic:new(o)
	o = o or {}
	setmetatable(o, self)
	self.__index = self
	return o
end

function {{machineName}}BaseGameMachineWinBothWaysMechanic:Initialize(machine)
end

function {{machineName}}BaseGameMachineWinBothWaysMechanic:TryPaying(machine)
end


