{
    "Name": "{{machineName}}BaseGamePayline",
    "Layer": "SLOT_REELS",
    "Child": {
        "Name": "Pivot",
        "Layer": "SLOT_REELS",
        "Child": {
            "Name": "Payline",
            "Id": "Payline",
            "IsModel": true,
            "ModelName": "Payline" 
        }
    }    
}