require "math"
require "Core"

{{machineName}}BaseGameReelReelSplitterMechanic = {
    Config = {
        Machine = "{{machineName}}",
        Variant = "{{machineVariant}}",
        Experiment = "{{experimentVariant}}",
        Mechanic = "{{mechanicName}}",
    },
}

function {{machineName}}BaseGameReelReelSplitterMechanic:new(o)
	o = o or {}
	setmetatable(o, self)
	self.__index = self
	return o
end

function {{machineName}}BaseGameReelReelSplitterMechanic:Initialize(reel)
end

