require "math"
require "Core"

{{machineName}}BaseGameMachineSymbolsSlideMechanic = {
}

function {{machineName}}BaseGameMachineSymbolsSlideMechanic:new(o)
	o = o or {}
	setmetatable(o, self)
	self.__index = self
	return o
end

function {{machineName}}BaseGameMachineSymbolsSlideMechanic:Initialize(machine)
end

function {{machineName}}BaseGameMachineSymbolsSlideMechanic:TryPaying(machine)
end


