require "math"
require "Core"

{{machineName}}GameBaseGameBackgroundSymbolsSlideMechanic = {
}

function {{machineName}}GameBaseGameBackgroundSymbolsSlideMechanic:new(o)
	o = o or {}
	setmetatable(o, self)
	self.__index = self
	return o
end

function {{machineName}}GameBaseGameBackgroundSymbolsSlideMechanic:Initialize(background)    
end



