require "math"
require "Core"

{{machineName}}BaseGameReelProgressiveMultipliersMechanic = {
    Config = {
        Machine = "{{machineName}}",
        Variant = "{{machineVariant}}",
        Experiment = "{{experimentVariant}}",
    },
}

function {{machineName}}BaseGameReelProgressiveMultipliersMechanic:new(o)
	o = o or {}
	setmetatable(o, self)
	self.__index = self
	return o
end

function {{machineName}}BaseGameReelProgressiveMultipliersMechanic:Initialize(reel)
end

