require "math"
require "Core"

{{machineName}}GameBaseGameBackgroundMysterySymbolsMechanic = {
}

function {{machineName}}GameBaseGameBackgroundMysterySymbolsMechanic:new(o)
	o = o or {}
	setmetatable(o, self)
	self.__index = self
	return o
end

function {{machineName}}GameBaseGameBackgroundMysterySymbolsMechanic:Initialize(background)    
end



