require "math"
require "Core"

{{machineName}}BaseGameReelMysterySymbolsMechanic = {
    Config = {
        Machine = "{{machineName}}",
        Variant = "{{machineVariant}}",
        Experiment = "{{experimentVariant}}",
        Mechanic = "{{mechanicName}}",
    },
}

function {{machineName}}BaseGameReelMysterySymbolsMechanic:new(o)
	o = o or {}
	setmetatable(o, self)
	self.__index = self
	return o
end

function {{machineName}}BaseGameReelMysterySymbolsMechanic:Initialize(reel)
end

