require "math"
require "Core"

{{machineName}}BaseGameReelPaylinesMechanic = {
}

function {{machineName}}BaseGameReelPaylinesMechanic:new(o)
	o = o or {}
	setmetatable(o, self)
	self.__index = self
	return o
end

function {{machineName}}BaseGameReelPaylinesMechanic:Initialize(reel)
end

function {{machineName}}BaseGameReelPaylinesMechanic:DisplayWays(reel, waySymbol, wayMatrix, waySymbolCount, duration)    
end
