require "math"
require "Core"

{{machineName}}BaseGameReelStackedWildsMechanic = {
}

function {{machineName}}BaseGameReelStackedWildsMechanic:new(o)
	o = o or {}
	setmetatable(o, self)
	self.__index = self
	return o
end

function {{machineName}}BaseGameReelStackedWildsMechanic:Initialize(reel)
end

