require "math"
require "Core"

{{machineName}}BaseGameMachineCascadingReelsMultiplierMechanic = {
}

function {{machineName}}BaseGameMachineCascadingReelsMultiplierMechanic:new(o)
	o = o or {}
	setmetatable(o, self)
	self.__index = self
	return o
end

function {{machineName}}BaseGameMachineCascadingReelsMultiplierMechanic:Initialize(machine)
    local manifest = {{machineName}}.Manifest
    local prefabName = "BaseGameMachineCascadingReelsMultiplier"
    System.Print("{{machineName}}BaseGameMachineCascadingReelsMultiplierMechanic:Initialize manifest.BundleName={0} manifest.BundleVersion={1} prefabName={2}", manifest.BundleName, manifest.BundleVersion, prefabName)    
    BettrAssetController.LoadPrefab(manifest.BundleName, manifest.BundleVersion, prefabName, nil)
end

function {{machineName}}BaseGameMachineCascadingReelsMultiplierMechanic:TryPaying(machine)
end


