require "math"
require "Core"

{{machineName}}BaseGameReelMechanics = {
}

function {{machineName}}BaseGameReelMechanics:new(o)
	o = o or {}
	setmetatable(o, self)
	self.__index = self
	return o
end

function {{machineName}}BaseGameReelMechanics:Initialize()
end

