require "math"
require "Core"

{{machineName}}BaseGameReelSymbolTransformationMechanic = {
}

function {{machineName}}BaseGameReelSymbolTransformationMechanic:new(o)
	o = o or {}
	setmetatable(o, self)
	self.__index = self
	return o
end

function {{machineName}}BaseGameReelSymbolTransformationMechanic:Initialize(reel)
end

