require "math"
require "Core"

{{machineName}}BaseGameMachineSymbolCollectionMechanic = {
}

function {{machineName}}BaseGameMachineSymbolCollectionMechanic:new(o)
	o = o or {}
	setmetatable(o, self)
	self.__index = self
	return o
end

function {{machineName}}BaseGameMachineSymbolCollectionMechanic:Initialize(machine)
end

function {{machineName}}BaseGameMachineSymbolCollectionMechanic:TryPaying(machine)
end


