require "math"
require "Core"

{{machineName}}BaseGameReelWildsReelsMechanic = {
}

function {{machineName}}BaseGameReelWildsReelsMechanic:new(o)
	o = o or {}
	setmetatable(o, self)
	self.__index = self
	return o
end

function {{machineName}}BaseGameReelWildsReelsMechanic:Initialize(reel)
end

