{
    "Prefabs": [
        {
            "Name": "Game002BaseGameSymbolSC",
            "NewGameObjects": [
            ],
            "ModifiedGameObjects": [
                {
                    "Path": "Game002BaseGameSymbolSC",
                    "Values": {
                        "m_symbol": "Game002BaseGameSymbolSC"
                    }
                }
            ]
        }
    ]
}