{
    "Name": "{{wheelGameMachine}}",
    "Id": "{{wheelGameMachine}}",
    "Rotation": {
        "X": 270,
        "Y": 0,
        "Z": 0
    },
    "Children": [
        {
            "Name": "{{machineName}}Wheel",
            "Id": "{{machineName}}Wheel",
            "IsModel": true,
            "ModelName": "12Wheel"     
        }
    ]  
}