{
    "Name": "{{wheelGameMachine}}",
    "Id": "{{wheelGameMachine}}",
    "Children": [
        {
            "Name": "{{machineName}}Wheel",
            "Id": "{{machineName}}Wheel",
            "IsModel": true,
            "ModelName": "12Wheel"
        }
    ]  
}