require "math"
require "Core"

{{machineName}}GameBaseGameBackgroundSymbolUpgradeMechanic = {
}

function {{machineName}}GameBaseGameBackgroundSymbolUpgradeMechanic:new(o)
	o = o or {}
	setmetatable(o, self)
	self.__index = self
	return o
end

function {{machineName}}GameBaseGameBackgroundSymbolUpgradeMechanic:Initialize(background)    
end



