require "math"
require "Core"

{{machineName}}GameBaseGameBackgroundFlipReelsMechanic = {
}

function {{machineName}}GameBaseGameBackgroundFlipReelsMechanic:new(o)
	o = o or {}
	setmetatable(o, self)
	self.__index = self
	return o
end

function {{machineName}}GameBaseGameBackgroundFlipReelsMechanic:Initialize(background)    
end



