require "math"
require "Core"

{{machineName}}BaseGameReelCascadingReelsMechanic = {
}

function {{machineName}}BaseGameReelCascadingReelsMechanic:new(o)
	o = o or {}
	setmetatable(o, self)
	self.__index = self
	return o
end

function {{machineName}}BaseGameReelCascadingReelsMechanic:Initialize(reel)
end

