require "math"
require "Core"

{{machineName}}BaseGameMachineCascadingReelsMechanic = {
}

function {{machineName}}BaseGameMachineCascadingReelsMechanic:new(o)
	o = o or {}
	setmetatable(o, self)
	self.__index = self
	return o
end

function {{machineName}}BaseGameMachineCascadingReelsMechanic:Initialize(machine)
end

function {{machineName}}BaseGameMachineCascadingReelsMechanic:TryPaying(machine)
end

function {{machineName}}BaseGameMachineCascadingReelsMechanic:BaseGamePayout(machine)
    series
        do
            machine:OnPayingCompleted()
        end
    end
end


