require "math"
require "Core"

{{machineName}}GameBaseGameBackgroundHotReelsMechanic = {
}

function {{machineName}}GameBaseGameBackgroundHotReelsMechanic:new(o)
	o = o or {}
	setmetatable(o, self)
	self.__index = self
	return o
end

function {{machineName}}GameBaseGameBackgroundHotReelsMechanic:Initialize(background)    
end



