require "math"
require "Core"

{{machineName}}BaseGameMachineHotReelsMechanic = {
}

function {{machineName}}BaseGameMachineHotReelsMechanic:new(o)
	o = o or {}
	setmetatable(o, self)
	self.__index = self
	return o
end

function {{machineName}}BaseGameMachineHotReelsMechanic:Initialize(machine)
end

function {{machineName}}BaseGameMachineHotReelsMechanic:TryPaying(machine)
end


