require "math"
require "Core"

{{machineName}}BaseGameReelMegaSymbolsMechanic = {
}

function {{machineName}}BaseGameReelMegaSymbolsMechanic:new(o)
	o = o or {}
	setmetatable(o, self)
	self.__index = self
	return o
end

function {{machineName}}BaseGameReelMegaSymbolsMechanic:Initialize(reel)
end

