{
  "Name": "BaseGameIndependentReelsMechanic",
  "Id": "BaseGameIndependentReelsMechanic",
  "Child": {
      "Name": "Pivot",
      "Id": "Pivot",
      "Children": [   
{{- for rowIndex in 0..rowCount }}
{{- for columnIndex in 0..columnCount }}
        {
            "Name": "{{machineName}}BaseGameRow{{rowIndex}}Col{{columnIndex}}",
            "Id": "BaseGameChooseASideSymbolGroup",
            "Layer": "SLOT_REELS"
        }
{{ if !for.last }},{{ end }}{{ end }}
{{- end }}
       ]
  }
}
